body { 
	margin-left:1em;
	height:100%;
	margin-bottom:2em;
}

#canvasContainer {
	width: 940px;
	margin-right: 5px;
	float:left;
}

#description {
	text-align: justify;
	display: block;
	margin-right: 1em;
	max-width: 1200px;
}

#actions {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.actionButton {
	margin-right:5px;
	margin-bottom:5px;
}

.sideBar {
	float:right;
}

#measuresSection {
	display: inline-block;
}


#canvasSVG {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:5px;
}

#settings {
	margin:5px;
}

#selectPhysicians {
	padding:0px;
}
.physicianListItem {
	display:inline;
	list-style-type: none;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.settingsDropdown {
	margin-right:5px;
	margin-bottom:5px;
}


.buttonSelected {
	border-style: inset;
	background-color: darkgray;
}

.buttonNotSelected {
	border-style: outset;
	background-color: gainsboro;
}

.legendListItem {
	display: inline-block;
	min-width: 200px;
	max-width: 200px;
}

.legendListItem:hover {
	background-color: gainsboro;
}

.selected {
	opacity: 1.0;
}

.notSelected {
	opacity: 0.3;
}

.offTargetBar:hover {
	fill: white;
}

.onTargetBar {
	pointer-events: all;
}

#indicatorBar {
	width:230px;
	padding-right: 1em;
	margin-top:5px;
	float:left;
	position:relative;
	border:thin solid lightgrey;
	display: none;
}

#dropdownIndicators {
	width:inherit;
	margin-bottom:10px;
	margin-left:1em;
}

.indicatorTitle {
	margin-left:1em; 
	font-weight:bold;
}

.indicator {
	padding: 1em;
}


#applybtn {
	margin-left:1em;
	margin-bottom:5px;
}